*:not(body) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lightmode {
  --home-bg-color: #f3f3f3;
  --input-bg-color: #e3e3e3;
  --input-font-color: black;
  --todo-bg-color: white;
  --todo-font-color: black;
  --plus-logo-color: white;
}

.darkmode {
  --home-bg-color: #353535;
  --input-bg-color: #484848;
  --input-font-color: white;
  --todo-bg-color: #636363;
  --todo-font-color: white;
  --plus-logo-color: #35383a;
}

body {
  height: auto;
  margin: 1rem;
  width: auto;
  background: var(--home-bg-color);
  color: var(--home-font-color);
  /* user-select: none;
  --webkit-user-select: none; */
  font-family: "Inter", sans-serif;
  position: relative;
  display: grid;
  align-items: center;
}

::selection {
  background: rgba(131, 206, 241, 0.767);
}

#main-container {
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.svg-plus-logo {
  fill: var(--plus-logo-color);
}

button {
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: auto 33px;
  align-items: center;
  margin-top: 1.5rem;
  grid-column-gap: 0.9rem;
}

form * {
  border: none;
  outline: none;
}

form input {
  background: var(--input-bg-color);
  color: var(--input-font-color);
  border-radius: 13px;
  padding: 10px 15px 10px 15px;
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  width: auto;
  grid-column-start: 1;
  grid-column-end: 2;
}

form button {
  background: transparent;
  height: 100%;
  width: 35px;
}

form button img {
  width: 120%;
  height: 120%;
  transform: translate(-10%, -8%);
}

#TODOs {
  width: auto;
  height: auto;
  font-weight: 500;
  margin-top: 1.7rem;
  overflow: hidden;
}

.todo {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--todo-bg-color);
  color: var(--todo-font-color);
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  transition: opacity 0.5s ease-out;
  overflow: hidden;
}

.todo:hover {
  background: #ffcf734d;
}

.todo-done {
  opacity: 50%;
}

.todo-done::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  animation: cross 1s ease-out 1;
}

@keyframes cross {
  from {
    transform: translateY(-50%) translateX(-100%);
  }
  to {
    transform: translateY(-50%) translateX(0%);
  }
}

.todo-delete {
  transform: translateX(0%);
  animation: delete 0.8s ease-in-out 1;
}

@keyframes delete {
  to {
    transform: translateX(100%);
    opacity: 0.2;
  }
}

.todo .content {
  padding: 10px 15px 10px 15px;
  width: 85.5%;
  font-size: 1.15rem;
}

.todo .buttons {
  position: absolute;
  right: 5px;
  margin: auto;
  transform: translateY(7%);
}
